.hidden {
    display: none;
}

.post-body-edit {
    width: 100%;
    min-height: 78px;
}

.comments ul:empty {
    display: none;
}

.comment-body-edit {
    width: 100%;
}

.edit-comment-btn,
.del-comment-btn {
    background-color: rgba(0, 0, 0, .03);
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 50%;
    height: 26px;
    width: 26px;
    margin: 2px;
    font-size: 12px;
    color: rgba(0, 0, 0, .35);
}

.edit-comment-btn:hover,
.del-comment-btn:hover {
    background-color: rgba(0, 0, 0, .13);
    border: 1px solid rgba(0, 0, 0, .135);
    color: rgba(0, 0, 0, .45);
    cursor: pointer;
}

.comments-number {
    font-size: 12px;
}

.avatar {
    font-size: 32px;
    color: rgba(0, 0, 0, .35);
}